<div id="Android" class="page">

    <div class="top-central-content boxshadow">
        <div class="section-title"><i class="fa fa-cogs"></i> Réalisations Android</div>
        <div class="text">Sont détaillés ici mes principaux projets personnels.</div>
        <div class="competence-break"> 00</div>
        <div class="section-subtitle">Crazy Shooter - 
            <span class="tag blue">Java</span> <span class="tag green">Framework Libgdx</span> <span class="tag grey">Photoshop</span>
        </div>
        <div class="competence-break"> 00</div>
        <!-- <img class="android-image banner" src="img/game/crazyshooter.gif"/> -->
        <div>
           <iframe width="795" height="447" src="https://www.youtube.com/embed/5suOz2fNto8?rel=0" frameborder="0" allowfullscreen></iframe>
       </div>
       <div class="competence-break"> 00</div>
       <table class="android">
        <tr>
            <td class="text">
                Crazy Shooter est un shoot'em up pixélisé, chaotique, fun et explosif.
                <br>
                <br>
                - L'objectif est de parcourir tous les niveaux pour éradiquer toute forme de vie. De nombreuses créatures vous attendent et même de nombreux boss.
                <br>
                - Vous débloquerez de nouvelles armes comme le fusil d'assaut, le canon laser, le bazooka, le lance-flamme et plus encore !
                <br>
                - Vous gagnerez des point de talent pour votre personnage au fil des niveaux pour personnaliser ses aptitudes.
                <br>
                Gameplay Video : <a href="https://www.youtube.com/watch?v=5suOz2fNto8&feature=youtu.be">Youtube</a>
                <br>

                <a href="https://play.google.com/store/apps/details?id=com.oasix.crazyshooter.android">
                    <img id="googlePlayLink" alt="Get it on Google Play" src="img/en_generic_rgb_wo_60.png" />
                </a>
                
            </td>
            <td>
                <img class="android-image landscape" src="img/game/game3_0.png"/>
            </td>
        </tr>
    </table>
    <div class="competence-break border-limitation"> 00</div>
    <div class="section-subtitle">Panda City Jump - 
        <span class="tag blue">Java</span> <span class="tag green">Framework Libgdx</span> <span class="tag grey">Photoshop</span>
    </div>
    <div class="competence-break"> 00</div>
    <table class="android">
        <tr>
            <td class="text">
                Un petit jeu simple ou le personnage controllé doit sauter le plus loin possible.
                <br>
                FEATURES :
                <br>
                - Controle du parapluie permettant de s'envoller.
                <br>
                - Ajout des powers (coeurs) pour recharger la barre de Jump.
                <br>
                - Ajout de protections pour resister aux enemies.
                <br>
                Graphismes & animations entièrement réalisé pour le jeu.
                <a href="https://play.google.com/store/apps/details?id=com.oasix.me.android">
                    <img id="googlePlayLink" alt="Get it on Google Play" src="img/en_generic_rgb_wo_60.png" />
                </a>
            </td>
            <td>
                <img class="android-image landscape" src="img/game/game2_1.png"/>
                <img class="android-image landscape" src="img/game/game2_2.png"/>
                <img class="android-image landscape" src="img/game/game2_3.png"/>
                
            </td>
        </tr>
    </table>
    <div class="competence-break border-limitation"> 00</div>
    <div class="competence-break"> 00</div>
    <div class="section-subtitle">Bubble Crush - 
        <span class="tag blue">Java</span> <span class="tag green">Framework Libgdx</span>
    </div>
    <div class="competence-break"> 00</div>
    <table class="android">
        <tr>
            <td class="text">
                Bubble Crush. Un jeu de casse bulles!
                Eclate le plus grand groupe de bulles de la même couleur. Plus le groupe de bulles est grand, plus les points gagnés sont important.
                <br>
                Petit mode story avec des niveaux à franchir et un cap de point.
                <br>
                <a href="https://play.google.com/store/apps/details?id=com.me.mygdxgame.oasix.pge">
                    <img id="googlePlayLink" alt="Get it on Google Play" src="img/en_generic_rgb_wo_60.png" />
                </a>
            </td>
            <td>
                <img class="android-image portrait" src="img/game/game1_1.png"/>
                <img class="android-image portrait" src="img/game/game1_2.png"/>
                <img class="android-image portrait" src="img/game/game1_3.png"/>
            </td>
        </tr>
    </table>


    
    


    <div class="competence-break border-limitation"> 00</div>
    








    <div class="section-subtitle">Applications</div>
    <div class="competence-break"> 00</div>
    <table class="android">
        <tr>
            <td>En cours de réalisation <br><span class="tag black">Apache Cordova</span><br><span class="tag black">Phonegap</span></td>
            <td class="text">WIP</td>
        </tr>
    </table>
    
</div>


<div id="footer"></div>