
<div id="CV" class="page">
    <div id="top-desc">
        <div id="top-desc-left" class="boxshadow">
            <div id="top-desc-photo">
                <img id="photo-img" src="img/cv.jpg" alt=""/>
            </div>
            <div id="top-desc-text">
                <div class="h1-left">Pierre </div> 
                <span class="1-left h1-colored">GORCE</span>
                <h1 class="text">Grenoble (38)</h1>
            </div>
            <div id="logo-informations">

                <div class="logo-square blue">
                    <i class="fa fa-male"></i>
                    <p class="text">25 ans</p>
                </div>
                <div class="logo-square green">
                    <i class="fa fa-car"></i>
                    <p class="text">Permis B</p>
                </div>
                <div class="logo-square grey">
                    <i class="fa fa-heart"></i>
                    <p class="text">Passionné</p>
                </div>
                <div class="logo-square blue">
                    <i class="fa fa-quote-right"></i>
                    <p class="text">Curieux</p>
                </div>
                <div class="logo-square green">
                    <i class="fa fa-info"></i>
                    <p class="text">Autonome</p>
                </div>
            </div>
        </div>
        <div id="top-desc-right" class="boxshadow">
            <div class="h1-right">Développeur Java-J2EE-Android</div>
            <div class="text">Polyvalent, déterminé, aux compétences multiples et en constant apprentissage.<br>
                Je me passionne pour les nouvelles technologies du Web anisi que tout ce qui touche à Android. Actuellement en stage, je travaille sur la réalisation d'applications Web ASP.NET MVC. Je recherche activement un emploi à partir de Juin 2015.
            </div>
            <div class="note">
                <p id="email">gorce.pierre@gmail.com</p>
        </div>
    </div>

    <div id="global-content">

        <div id="global-content-left">
            <div id="global-content-left-1" class="boxshadow">
                <div class="section-title"><i class="fa fa-briefcase"></i> Expérience</div>

                <table class="section-title firstColGreen">
                    <tr>
                        <td class="text">2011-2014</td>
                        <td class="text"><div class="section-subtitle">Chargé d’étude (3 ans), OASIIS - Bureau d'étude HQE- Aubagne (13)</div>
                            <ul class="text">
                                <li class="text"> Mise en place de documents charte graphique avec automatisation / automatisation de certaines procédures</li>
                                <li class="text"> Réalisation de Simulation Thermique Dynamique (STD) de calcul de besoin, consommations et estimation du confort estival</li>
                                <li class="text"> Réglementation Thermique (2005, 2012 et Existant) et études de faisabilité en énergies (pièces nécessaires aux dépôts des permis de construire).</li>
                                <li class="text"> Calcul d'éclairage naturel (FLJ), d'ensoleillement, d'ombre</li>
                                <li class="text"> Dimensionnement précis de protections solaires</li>
                                <li class="text"> Etudes et dimensionnement des énergies renouvelables (panneaux solaire, thermiques, géothermie...)</li>
                                <li class="text"> Réalisation/Mise à jour d’outils Excel thermiques, administratifs, de gestion de projet et de management</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="text">2011</td>
                        <td class="text"><div class="section-subtitle">Stage Licence Pro (4 mois), OASIIS - Bureau d’étude HQE - Aubagne (13)</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text">2010</td>
                        <td class="text"><div class="section-subtitle">Intérimaire (2 mois), Billon S.A - Entreprise CVC - Portes-lès-Valence (26)</div>
                            <ul class="text">
                                <li class="text"> Réalisation de l'interface graphique utilisateur d'une Gestion Technique Centralisée -  l’Oréal, Paris</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="text">2010</td>
                        <td class="text"><div class="section-subtitle">Stage DUT (2 mois), Billon S.A - Entreprise CVC - Portes-lès-Valence (26)</div>
                            <ul class="text">
                                <li class="text"> Suivi de chantier, Chiffrage</li>
                            </ul>
                        </td>
                    </tr>
                </table>

            </div>

            <div id="global-content-left-2" class="boxshadow">
                <div class="section-title"><i class="fa fa-university"></i> Formation</div>

                <table class="section-title firstColGreen">
                    <tr>
                        <td class="text">2014-2015</td>
                        <td class="text"><div class="section-subtitle">BAC+4</div> Concepteur-développeur informatique Option J2EE - AFPA - Pont de Claix (38)</td>
                    </tr>
                    <tr>
                        <td class="text">2010-2011</td>
                        <td class="text"><div class="section-subtitle">BAC+3</div>Licence Professionnelle Chargé d’Affaires en Génie Climatique - Mention AB - Université Blaise Pascal - Montluçon (03)</td>
                    </tr>
                    <tr>
                        <td class="text">2008-2010</td>
                        <td class="text"><div class="section-subtitle">BAC+2</div>DUT Génie Thermique et Energie - Université Joseph Fourier - Grenoble (38)
                            quidem, dum rogemur; studium semper adsit,</td>
                    </tr>
                    <tr>
                        <td class="text">2007-2008</td>
                        <td class="text"><div class="section-subtitle">Classe Préparatoire</div>Classe préparatoire école d'ingénieur (E.S.I.S.A.R) - Valence (26)</td>
                    </tr>
                    <tr>
                        <td class="text">2006-2007</td>
                        <td class="text"><div class="section-subtitle">BAC</div>Baccalauréat Général Série S - Mention AB - Privas (07)</td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="global-content-right">
            <div id="global-content-right-1" class="boxshadow">
                <div class="section-title"><i class="fa fa-cogs"></i> Compétences</div>
                <div class="section-subtitle head">Développement Informatique</div>
                <table class="competence firstColGreen">
                    <tr>
                        <td>Front-End</td>
                        <td class="text"><span class="tag blue">HTML5</span> <span class="tag blue">CSS3</span> <span class="tag blue">Less Framework</span> <span class="tag blue">Bootstrap</span> <span class="">Responsive Design</span></td>
                        <td class="notation">
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle-o"></i>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="text"><span class="tag blue">JQuery</span> <span class="tag blue">Ajax</span><span class="">Json, Navigation (History, Url)</span></td>
                        <td class="notation">
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle-o"></i>
                        </td>
                    </tr>
                                        <tr>
                        <td></td>
                        <td class="text"><span class="tag blue">AngularJS</span></td>
                        <td class="notation">
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle-o"></i>
                            <i class="fa fa-circle-o"></i>
                            <i class="fa fa-circle-o"></i>
                        </td>
                    </tr>
                </table>
                <div class="competence-break"> 00</div>
                <table class="competence firstColGreen">
                    <tr>
                        <td>Android</td>
                        <td class="text"><span class="tag grey">Android stock</span></td>
                        <td class="notation">
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle-o"></i>
                            <i class="fa fa-circle-o"></i>
                            <i class="fa fa-circle-o"></i>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="text"><span class="tag grey">Framework Libgdx</span><span class="">Open Gl, Application & jeux 2D</span></td>
                        <td class="notation">
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                        </td>
                    </tr>
                </table>
                <div class="competence-break"> 00</div>
                <table class="competence firstColGreen">
                    <tr>
                        <td>Back-End</td>
                        <td class="text"><span class="tag green">Java SE & EE</span> <span class="tag green">Framework Struts</span></td>
                        <td class="notation">
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle-o"></i>
                            <i class="fa fa-circle-o"></i>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="text"><span class="tag green">C# & VB.NET</span><span class="tag green">ASP.NET WebForm</span></td>
                        <td class="notation">
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle-o"></i>
                            <i class="fa fa-circle-o"></i>
                            <i class="fa fa-circle-o"></i>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="text"><span class="tag green">C# & VB.NET</span><span class="tag green">ASP.NET MVC</span></td>
                        <td class="notation">
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle-o"></i>
                        </td>
                    </tr>
                                        <tr>
                        <td></td>
                        <td class="text">
                        <span class="tag green">ORM Entity Framework</span>
                        <span class="tag green">ASP.NET Identity (Auth & Gestion de compte)</span>
                        <span class="tag green"></span>
                        </td>
                        <td class="notation">
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle-o"></i>
                        </td>
                    </tr>
                </table>
                <div class="competence-break"> 00</div>
                <table class="competence firstColGreen">
                    <tr>
                        <td>Divers</td>
                        <td class="text"><span class="tag black">Git</span> <span class="tag black">Github</span> <span class="tag black">SVN</span> </td>
                        <td class="notation">
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle-o"></i>
                            <i class="fa fa-circle-o"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Webservices</td>
                        <td class="text"><span class="tag black">SOAP</span> <span class="tag black">REST</span> </td>
                        <td class="notation">
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle-o"></i>
                            <i class="fa fa-circle-o"></i>
                            <i class="fa fa-circle-o"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Divers</td>
                        <td class="text"><span class="tag black">MS SQL Server</span> <span class="tag black">MySQL</span> <span class="">Conception, Utilisation</span> </td>
                        <td class="notation">
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle-o"></i>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="text"><span class="tag black">UML</span> <span class="tag black">Merise</span> </td>
                        <td class="notation">
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle-o"></i>
                            <i class="fa fa-circle-o"></i>
                            <i class="fa fa-circle-o"></i>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="text"><span class="tag black">Photoshop</span> </td>
                        <td class="notation">
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle-o"></i>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="text"><span class="tag black">VBA</span>(Programmation Excel)</td>
                        <td class="notation">
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle-o"></i>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="text">Connaissance des méthodes agiles Scrum.</td>
                        
                    </tr>
                </table>
            </div>
            <div id="global-content-right-2" class="boxshadow">
                <div class="section-title"><i class="fa fa-paper-plane"></i> Loisirs</div>
                <div class="section-subtitle">Loisirs</div>
                <div id="loisir-img-div">
                    <img id="loisir-img" src="img/loisirs.png" alt=""/>
                </div>
            </div>
        </div>
    </div>
    <div id="footer"></div>
</div>