@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

.application {
  font-family: "Lato", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

#main-container {
  max-width: 1350px;
  padding: 5px !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.green {
  background-color: #65c178 !important;
}

.blue {
  background-color: #00bfdd !important;
}

.violet {
  background-color: #9597ff !important;
}


.theme--dark {
  .cv-card {
    background-color: rgb(80, 80, 80) !important;
  }
  a{
   color:#63b1fe;
  }
}

.theme--light {
  .v-content__wrap {
    background-color: rgb(208, 208, 208) !important;
  }
  .cv-card {
    background-color: rgb(238, 238, 238) !important;
  }
  a{
    color:#1976d2;
  }
}

.v-icon--left {
  margin-right: 8px;
}

.v-icon--right {
  margin-left: 8px;
}

.v-expansion-panel {
  box-shadow: none;
  .v-expansion-panel__header {
    padding: 0;
  }
  .v-expansion-panel__container {
    background-color: transparent !important;
  }
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
}

* {
  font-size: 13px;
}

.profil-block {
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.triangle {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  position: absolute;
  left: -10px;
  top: 30px;
}


.timeline-point {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 7px;
    background-color: #65c178;
}

.timeline {
  height: 100%;
  border-right: 2px solid #65c178;
  margin-right: 25px;
  position: relative;
  text-align: center;
  
.timeline-point {
    top: 37px;
    right: -5px;
}
.timeline-date{
    padding-top: 30px;
}
}

.timeline-horizontal {
  border-top: 2px solid #65c178;
  position: relative;
  text-align: center;

.timeline-point {
    top: -5px;
    right: 50%;
}

}

.tags {
  position: relative;
  min-height: 300px;
  overflow: auto;
  max-width: 320px;
  margin: auto;
  .tag {
    position: absolute;
  }
}
