<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Pierre GORCE WebPages</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet/less" type="text/css" href="style.less"/>
        <script src="js/libs/less.js/less.min.js" type="text/javascript"></script>

        <script src="js/libs/angular.js/angular.js"></script>
        <script src="js/libs/angular.js/angular-resource.js"></script>

        <script src="js/libs/jquery/jquery.js"></script>

        <link href="js/libs/font-awesome/font-awesome/css/font-awesome.min.css" rel="stylesheet">

        <script src="script.js"></script>

        <script src="js/libs/codemirror/lib/codemirror.js"></script>
        <link rel="stylesheet" href="js/libs/codemirror/lib/codemirror.css">
        <link rel="stylesheet" href="js/libs/codemirror/theme/solarized.css">
        <link rel="stylesheet" href="js/libs/codemirror/theme/monokai.css">

        <script src="js/libs/codemirror/mode/javascript/javascript.js"></script>
        <script src="js/libs/codemirror/mode/css/css.js"></script>
        <script src="js/libs/codemirror/mode/clike/clike.js"></script>
        <script src="js/libs/codemirror/mode/sql/sql.js"></script>
        <script src="js/libs/codemirror/mode/xml/xml.js"></script>
        <script src="js/libs/codemirror/mode/htmlmixed/htmlmixed.js"></script>




        <script src="googleDrive.js"></script>
        <script type="text/javascript" src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>



    </head>
    <body>

        <div ng-app="myApp" ng-controller="MainCtrl">
            <header>
                <div id="header_desc">
                    <div id="header_logo">
                        <i class="fa fa-info"></i><i class="fa fa-tag"></i>
                    </div>
                    <div id="header_logo_border"></div>
                    <div id="header_text">
                        <h1>Pierre GORCE</h1>
                        <h2>Portfolio, Notes & Public CV</h2>
                    </div>
                </div>
            </header>

            <nav>
                <div id="nav_desc">
                    <div class="nav_button_frame menu">
                        <a class="nav_button">MENU</a>
                    </div>
                    <div class="nav_button_frame">
                        <div class="header_icon"><i class="fa fa-user"></i></div><a class="nav_button">Snippet Editor</a>
                    </div>
                    <div class="nav_button_frame active">
                        <div class="header_icon"><i class="fa fa-user"></i></div><a class="nav_button">CV</a>
                    </div>
                    <div class="nav_button_frame">
                        <div class="header_icon"><i class="fa fa-user"></i></div><a class="nav_button">Android Application</a>
                    </div>
                    <div class="nav_button_frame">
                        <div class="header_icon"><i class="fa fa-user"></i></div><a class="nav_button">About</a>
                    </div>
                </div>
            </nav>

            <div class="ng-include: src='CV.html'"></div>
            

            <section style="display: none">

                <aside>
                    <div id="aside_top">
                        <p>[{{datas.length}}] Snippets Saved.</p>
                    </div>
                    <div id="aside_middle">
                        <div class="GLOBAL_BOUTTON_ICON" id="Button_New_File" ng-click="newFile()">
                            <i class="fa fa-file-text"></i>
                        </div>
                        <div class="GLOBAL_BOUTTON_ICON" id="Button_Save" ng-click="saveJSON()">
                            <i class="fa fa-floppy-o"></i>
                        </div>
                        <div class="GLOBAL_BOUTTON_ICON" id="Button_Delete" ng-click="delete()">
                            <i class="fa fa-trash-o"></i>
                        </div>
                        <div class="GLOBAL_BOUTTON_ICON" id="Button_Indent" ng-click="indent()">
                            <i class="fa fa-indent"></i>
                        </div>
                        <div class="GLOBAL_BOUTTON_ICON" id="Button_New_Folder">

                        </div>
                    </div>
                    <div id="snippet_list_header">
                            <div class="snippet_list_header_text left">Id</div>
                            <div class="snippet_list_header_text middle">Title</div>
                            <div class="snippet_list_header_text right">Tag</div>
                        </div>
                    <div id="aside_bottom">
                        
                        <div class="snippet_list_content" ng-repeat="data in datas" ng-click="openSnippet(data.id)" ng-class="{'active': data.id == currentID}">
                            <div class="snippet_list_content_text left">{{data.id}}</div>
                            <div class="snippet_list_content_text middle">{{data.title}}</div>
                            <div class="snippet_list_content_text right"><p class="tag" ng-class="languages[data.language].value" >{{languages[data.language].value}}</p></div>

                        </div>
                    </div>
                </aside>

                <article>

                    <div id="break">
                        <p>{{status}}</p>
                    </div>
                    <div id="snippet_details">
                        <div id="snippet_detail_logo">
                            <i class="fa fa-quote-left"></i>
                            <p>ID : {{currentID}}</p>
                        </div>
                        <div id="snippet_detail_text">
                            <input class="formulaire" id="title" placeholder="Type name" ng-model="datas[currentID].title" />
                            <input class="formulaire" id="subtitle" placeholder="Type name" ng-model="datas[currentID].subtitle" />
                            <p class="formulaire" id="label">Language mode : </p>
                            <select class ="formulaire" id="language" ng-model="datas[currentID].language" ng-click="changeLANGUAGE()">
                                <option value="0">Javascript</option>
                                <option value="1">Java</option>
                                <option value="2">CSS</option>
                                <option value="3">HTML</option>
                                <option value="4">SQL</option>
                            </select>
                            <p class="formulaire">Last edit : </p>
                            <input type="button" id="authorizeButton" style="display: none" value="Authorize" />
                        </div>
                    </div>
                    <div id="snippet_content">
                        <textarea id="snippet_content_code"></textarea>
                    </div>

                </article>

            </section>

            <script type="text/javascript">




            </script>
        </div>
    </body>
</html>
