
<div id="Web" class="page">
    <div class="top-central-content boxshadow">
        <div class="section-title"><i class="fa fa-cogs"></i> Réalisations Web</div>
        <div class="section-subtitle head">Editeur/Mémo personnel de Snippet</div>
        <div class="text">
            Technologies utilisées : 
            <span class="tag green">JQuery</span> <span class="tag blue">AngularJS</span> <span class="tag grey">Google Drive API</span>
            <br>
            Interface hébergée sur Google Drive.
            <br>
            L'ensemble des traitements est ainsi réalisé via <span class="tag black">Javascript</span>. La persistance des données est possible grace à la sauvegarde et au telechargement de fichiers sur Google Drive. Le format JSON est alors utilisé.
            <br>
            <br>
            Cette application a été réalisé comme exercice d'entrainement en parallèle de ma formation de développeur.

       </div>
    </div>
    <div class="competence-break"> 00</div>
    <div class="top-central-content boxshadow" id="loading-box">
        <div ng-app="myApp" ng-controller="MainCtrl">
            <div class="top-central-content" id="loading" ng-class="{loading : loading}">
                <p>Processing<br><i class="fa fa-refresh fa-spin"></i></p>

            </div>

            <aside>
                <div id="aside_top">
                    <p>[{{datas.length}}] Snippets Saved.</p>
                </div>
                <div id="aside_middle">
                    <div class="GLOBAL_BOUTTON_ICON" id="Button_New_File" ng-click="newFile()">
                        <i class="fa fa-file-text"></i>
                    </div>
                    <div class="GLOBAL_BOUTTON_ICON" id="Button_Save" ng-click="saveJSON()">
                        <i class="fa fa-floppy-o"></i>
                    </div>
                    <div class="GLOBAL_BOUTTON_ICON" id="Button_Delete" ng-click="delete()">
                        <i class="fa fa-trash-o"></i>
                    </div>
                    <div class="GLOBAL_BOUTTON_ICON" id="Button_Indent" ng-click="indent()">
                        <i class="fa fa-indent"></i>
                    </div>
                    <div class="GLOBAL_BOUTTON_ICON" id="Button_New_Folder">

                    </div>
                </div>
                <div id="snippet_list_header">
                    <div class="snippet_list_header_text left">Id</div>
                    <div class="snippet_list_header_text middle">Title</div>
                    <div class="snippet_list_header_text right">Tag</div>
                </div>
                <div id="aside_bottom">
                    <div class="snippet_list_content" ng-repeat="data in datas" ng-click="openSnippet(data.id)" ng-class="{'active': data.id == currentID}">
                        <div class="snippet_list_content_text left">{{data.id}}</div>
                        <div class="snippet_list_content_text middle">{{data.title}}</div>
                        <div class="snippet_list_content_text right"><p class="tag" ng-class="languages[data.language].value" >{{languages[data.language].value}}</p></div>
                    </div>
                </div>
            </aside>

            <article>

                <div id="break">
                    <p>{{status}}</p>
                </div>
                <div id="snippet_details">
                    <div id="snippet_detail_logo">
                        <i class="fa fa-quote-left"></i>
                        <p>ID : {{currentID}}</p>
                    </div>
                    <div id="snippet_detail_text">
                        <input class="formulaire" id="title" placeholder="Type name" ng-model="datas[currentID].title" />
                        <input class="formulaire" id="subtitle" placeholder="Type name" ng-model="datas[currentID].subtitle" />
                        <p class="formulaire" id="label">Language mode : </p>
                        <select class ="formulaire" id="language" ng-model="datas[currentID].language" ng-click="changeLANGUAGE()">
                            <option value="0">Javascript</option>
                            <option value="1">Java</option>
                            <option value="2">CSS</option>
                            <option value="3">HTML</option>
                            <option value="4">SQL</option>
                        </select>
                        <p class="formulaire">Last edit :</p>
                        <input type="button" id="authorizeButton" style="display: none" value="Authorize" />
                    </div>
                </div>
                <div id="snippet_content">
                    <textarea id="snippet_content_code"></textarea>
                </div>
            </article>
        </div>
    </div>
    <div id="footer">
    </div>
</div>